/* General */

body {
	background: #0f0f0f;
}

/* Header Section */

header {
	position: relative;
	height: 800px;
	min-height: 500px;
	width: 100%;
	background: #161415 url(../images/header-background.jpg) no-repeat top center;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	text-align: center;
	overflow: hidden;
}

header:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

header .banner {
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	width: 85%;
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
	background-color: #000000;
	opacity: 0.8;
	border-radius: 2em;
}

header .banner-text {
	width: 100%;
}

header .banner-text h1 {
	font: 1.1em "opensans-bold", sans-serif;
	color: #fff;
	letter-spacing: -2px;
	margin: 0 auto 18px auto;
}

header .banner-text h3 {
	font: 20px/1.9em "librebaskerville-regular", serif;
	color: #a8a8a8;
	margin: 0 auto;
	width: 70%;
}

header .banner-text h3 span,
header .banner-text h3 a {
	color: #fff;
}

header .banner-text hr {
	width: 60%;
	margin: 18px auto 24px auto;
	border-color: #2f2d2e;
	border-color: rgba(150, 150, 150, 0.1);
}

header .social {
	margin: 24px 0;
	padding: 0;
	font-size: 60px;
}

header .social li {
	display: inline-block;
	margin: 0 20px;
	padding: 0;
}

header .social li a {
	color: #fff;
}

header .social li a:hover {
	color: #525252;
}

header .scrolldown a {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -29px;
	color: #fff;
	display: block;
	height: 42px;
	width: 42px;
	font-size: 48px;
	line-height: 42px;
	color: #fff;
	border-radius: 100%;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

header .scrolldown a:hover {
	color: #179038;
}

/* Navigation Bar */

#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

#nav-wrap {
	font: 16px "opensans-bold", sans-serif;
	width: 100%;
	letter-spacing: 2.5px;
	margin: 0 auto;
	z-index: 100;
	position: fixed;
	left: 0;
	top: 0;
}

.opaque {
	background-color: #333;
}

#nav-wrap > a.mobile-btn {
	display: none;
}

ul#nav {
	min-height: 48px;
	width: auto;
	background-color: #000000;
	opacity: 0.6;
	text-align: center;
}

ul#nav li {
	position: relative;
	list-style: none;
	height: 48px;
	display: inline-block;
}

ul#nav li a {
	display: inline-block;
	padding: 8px 13px;
	line-height: 32px;
	text-decoration: none;
	text-align: left;
	color: #fff;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

ul#nav li a:active {
	background-color: transparent !important;
}

ul#nav li.current a {
	color: #f06000;
}

/* About Section */

#about {
	background: #222222;
	padding-top: 72px;
	padding-bottom: 60px;
	overflow: hidden;
}

#about h1 {
	font: 36px "opensans-bold", sans-serif;
	color: #ffffff;
	margin-bottom: 12px;
}

#about p {
	line-height: 30px;
	color: #aaaaaa;
}

#about .profile-pic {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 25%;
}

/* Resume Section */

#resume {
	background: #2f2f2f;
	padding-top: 90px;
	padding-bottom: 72px;
	overflow: hidden;
}

#resume h1 {
	font: 20px "opensans-bold", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#resume h1 span {
	color: #efefef;
	border-bottom: 3px solid #179038;
	padding-bottom: 6px;
}
#resume h2 {
	font: 25px/30px "opensans-bold", sans-serif;
}

#resume .header-col {
	padding-top: 9px;
}
#resume .main-col {
	padding-right: 10%;
}

#resume .school,
#resume .company {
	color: #ffffff;
	margin: 9px 0 20px 0;
}

#resume .degree,
#resume .role {
	font: 18px "librebaskerville-italic", serif;
	color: #cccccc;
	margin-bottom: 8px;
	margin-top: 9px;
}

#resume .date {
	font: 16px "opensans-regular", sans-serif;
	color: #cccccc;
	margin: 6px 12px 0 0;
}

#resume .gpa {
	font: 16px "opensans-regular", sans-serif;
	color: #cccccc;
	margin: 6px 0 0 12px;
	padding-left: 48px;
}

#resume .info {
	font: 18px "librebaskerville", serif;
	color: #cccccc;
	margin-bottom: 18px;
	margin-top: 9px;
}

#resume .description {
	margin: 20px 0 50px 0;
	color: #aaaaaa;
}

.education {
	margin-bottom: 48px;
	padding-bottom: 24px;
	border-bottom: 1px solid #e8e8e8;
}

.internship {
	margin-top: 24px;
	margin-bottom: 48px;
	padding-bottom: 24px;
	border-bottom: 1px solid #e8e8e8;
}

.research {
	margin-top: 24px;
}

/* Skills Section */

#skills {
	background: #222222;
	padding-top: 72px;
	padding-bottom: 60px;
	overflow: hidden;
}

#skills h1 {
	font: 36px "opensans-bold", sans-serif;
	color: #ffffff;
	margin-bottom: 12px;
}

#skills h2 {
	font: 24px "opensans-bold", sans-serif;
	color: #aaaaaa;
	padding: 0 0 10px 0;
}

/* Publications Section */

#publications {
	background: #222222;
	padding-top: 72px;
	padding-bottom: 60px;
	overflow: hidden;
}

#publications h1 {
	font: 36px "opensans-bold", sans-serif;
	color: #ffffff;
	margin-bottom: 12px;
	padding-bottom: 36px;
}

#publications .paper {
	font: 18px "opensans-bold", sans-serif;
	color: #aaaaaa;
	margin-bottom: 2px;
}

#publications .authors {
	font-size: 16px;
	padding-top: 4px;
	padding-bottom: 32px;
}

#publications .authors .me {
	font-style: italic;
}

/* Projects Section */

#projects {
	background: #2f2f2f;
	padding-top: 90px;
	padding-bottom: 60px;
}
#projects .title {
	font: 32px "opensans-semibold", sans-serif;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 48px;
	color: #aaaaaa;
}

/* projects Content */
#projects-wrapper .columns {
	margin-bottom: 36px;
}
.projects-item .item-wrap {
	background: #dddddd;
	overflow: hidden;
	position: relative;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.projects-item .item-wrap a {
	display: block;
	cursor: pointer;
}

/* overlay */
.projects-item .item-wrap .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

	background: url(../images/overlay-bg.png) repeat;
}
.projects-item .item-wrap .link-icon {
	display: block;
	color: #fff;
	height: 30px;
	width: 30px;
	font-size: 18px;
	line-height: 30px;

	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
}
.projects-item .item-wrap img {
	display: block;
	height: 75%;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}
.projects-item .projects-item-meta {
	padding: 18px;
}
.projects-item .projects-item-meta h5 {
	font: 14px/21px "opensans-bold", sans-serif;
	color: #fff;
}
.projects-item .projects-item-meta p {
	font: 12px/18px "opensans-light", sans-serif;
	color: #c6c7c7;
	margin-bottom: 0;
}

/* on hover */
.projects-item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}
.projects-item:hover .link-icon {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

/* popup modal */
.popup-modal {
	max-width: 550px;
	background: #fff;
	position: relative;
	margin: 0 auto;
}
.popup-modal .description-box {
	padding: 12px 36px 18px 36px;
}
.popup-modal .description-box h4 {
	font: 15px/24px "opensans-bold", sans-serif;
	margin-bottom: 12px;
	color: #111;
}
.popup-modal .description-box p {
	font: 14px/24px "opensans-regular", sans-serif;
	color: #a1a1a1;
	margin-bottom: 12px;
}
.popup-modal .description-box .categories {
	font: 11px/21px "opensans-light", sans-serif;
	color: #a1a1a1;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: block;
	text-align: left;
}
.popup-modal .description-box .categories i {
	margin-right: 8px;
}
.popup-modal .link-box {
	padding: 18px 36px;
	background: #111;
	text-align: left;
}
.popup-modal .link-box a {
	color: #fff;
	font: 11px/21px "opensans-bold", sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
}
.popup-modal a:hover {
	color: #00cccc;
}
.popup-modal a.popup-modal-dismiss {
	margin-left: 24px;
}

/* Contact Section */

#contact {
	background: #222222;
	padding-top: 96px;
	padding-bottom: 96px;
	color: #636363;
}

#contact .section-head {
	margin-bottom: 42px;
}

#contact h1 {
	font: 48px "opensans-bold", sans-serif;
	letter-spacing: 3px;
	color: #ebeeee;
	margin-bottom: 6px;
}
#contact p.phone {
	font: 16px "opensans-bold", sans-serif;
	letter-spacing: 3px;
	color: #ebeeee;
	margin-bottom: 6px;
}
#contact p.phone:before {
	font-family: "FontAwesome";
	content: "\f095";
	padding-right: 10px;
	font-size: 18px;
	color: #ebeeee;
}
#contact p.email {
	font: 16px "opensans-bold", sans-serif;
	letter-spacing: 3px;
	color: #ebeeee;
	margin-bottom: 6px;
}
#contact p.email:before {
	font-family: "FontAwesome";
	content: "\f0e0";
	padding-right: 10px;
	font-size: 18px;
	color: #ebeeee;
}

#contact a,
#contact a:visited {
	color: #525252;
}
#contact a:hover,
#contact a:focus {
	color: #fff;
}

#contact .social-links {
	margin: 20px 0 0px 0;
	padding: 0;
	font-size: 60px;
}
#contact .social-links li {
	display: inline-block;
	margin: 20px 20px 0px 20px;
	padding: 0;
	color: #f06000;
}

/* Footer Section */

footer {
	padding-top: 48px;
	margin-bottom: 48px;
	color: #303030;
	font-size: 14px;
	text-align: center;
	position: relative;
}

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
	left: 50%;
	margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	color: #fff;
	font-size: 21px;
	line-height: 60px;
	border-radius: 100%;
}
#go-top a:hover {
	background-color: #179038;
}
